body {
  margin-left: 10%;
  margin-right: 10%;
  color: #000000;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image:url(wov.png);
}

img {
   width: 100%;
   height: auto;
}

p { font-family: sans-serif }
h1 { color: #336699 }
h2 { font-size: small }
div.container {
  margin: 0 auto;
  background-image:url(merlion.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: auto;
  width: 1200px;
  height: 710px;
}

div.wrapper {
  width: 600px;
  float: right;
  background: none;
  margin-top: 150px;
  margin-right: 120px;
}

div.input {
  text-align: center;
}

div.output {
  width: max;
  height: 300px;
  text-align: left;
  overflow-y: scroll;
}

div.header {
  float: right;
  background: none;
  margin-top: 50px;
  margin-right: 280px;
}

div.footer {
  text-align: center;
}
